<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
		<listener class-name="report.ExtentReporterNG" />
	</listeners>
	
		<parameter name="browser" value="ChromeHeadless"></parameter>
		<test thread-count="5" name="ChromeTest">
		<packages>
			<package name="com.tests*" />
		</packages>
		<classes>
		
			

			
		</classes>
		
	</test> <!-- Test -->

	<test thread-count="5" name="FirefoxTest">
		<parameter name="browser" value="Firefox"></parameter>
		
		<packages>
			<package name="com.tests*" />
		</packages>
		<classes>
			<class name="com.tests.writeFakeMailtoExcel"></class>
		 
		 	<class name="com.tests.CreateAccount"></class>
			
			<class name="com.tests.Login"></class>
			
			<class name="com.tests.Logout"></class>
		
			<class name="com.tests.ChangePassword"></class>
		
			<class name="com.tests.SearchAndViewProducts"></class>
		
			<class name="com.tests.AddItemToWishList"></class>
		
			<class name="com.tests.AddItemToChartS"></class>
		
			<class name="com.tests.AddItemToChartAndCheckout"></class>
		
			<class name="com.tests.ReturnOrder"></class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->